<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">
            <h1>Lista de pacientes</h1>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" th:each="pacient : ${paciente}">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title" >Paciente</h5>
                            <p class="card-text">Datos basicos de paciente:</p>
                            <p th:text="${pacient.nombre}"> </p>
                            <p th:text="${pacient.apellido}"> </p>
                            <p th:text="${pacient.direccion}"> </p>
                            <p th:text="${pacient.ciudad}"> </p>
                            <p th:text="${pacient.correo}"> </p>
                        </div>
                    </div>
                </div>
             
             </div>
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>